* {
    background-color: #e7ece4;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    text-align: right;
}

a:hover {
    background-color: #6a3c2c;
    color: #e7ece4;
    tex
}

#logo {
    position: relative;
    float: left;

}