* {
    background-color: #e7ece4;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    text-align: right;
}

#nav {
    display: flex;
    flex-direction: row;
}

a:hover {
    background-color: #6a3c2c;
    color: #e7ece4;
}

#logo {
    position: relative;
    float: left;
}